@font-face {
  font-family: Dana;
  font-style: normal;
  font-weight: bold;
  src: url("../fonts/dana/dana-fanum-bold.eot");
  src: url("../fonts/dana/dana-fanum-bold.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-8 */ url("../fonts/dana/dana-fanum-bold.woff2") format("woff2"),
    /* FF39+,Chrome36+, Opera24+*/ url("../fonts/dana/dana-fanum-bold.woff")
      format("woff"),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/ url("../fonts/dana/dana-fanum-bold.ttf")
      format("truetype");
}
@font-face {
  font-family: Dana;
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/dana/dana-fanum-regular.eot");
  src: url("../fonts/dana/dana-fanum-regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-8 */ url("../fonts/dana/dana-fanum-regular.woff2") format("woff2"),
    /* FF39+,Chrome36+, Opera24+*/ url("../fonts/dana/dana-fanum-regular.woff")
      format("woff"),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
      url("../fonts/dana/dana-fanum-regular.ttf") format("truetype");
}
