.project_sidebar {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  height: 100%;
  padding: 20px;
}
.pr_left_col {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.project_user {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: center;
}
.projects_pagination{
    background-color: #ffffff;
    padding: 12px;
    text-align: center;
    display: flex;
    justify-content: center;
    width: 100%;
    border-radius: 8px;
    margin-top: 50px;
}
.project_wrapper{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  column-gap: 20px;
  column-gap: 20px;
  width: 100%;
  flex-wrap: wrap;
  row-gap: 20px;
  .project_card{
    flex-basis: calc(20% - 20px);
    height: 185px;
  }
  .add_new_project{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center!important;
    height: 100%;
    width: 100%;
    padding: 15px;
    .add_new_icon{
      color: black;
      background: unset;
      svg{
        font-size: 53px;
      }
    }
    .card_content{
      flex: 0;
    }
  }
}

