.theme-mode{    
  height: 100vh;
  display: flex;
  width: 100vw;
  justify-content: center;
  align-items: center;
}
.btn{
  background: blueviolet;
  color: white;
  padding: 14px 35px;
  border: unset;
  border-radius: 8px;
  font-size: 17px;
}
